<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
            "http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML>
<HEAD>

<META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<META name="GENERATOR" content="hevea 1.10">
<LINK rel="stylesheet" type="text/css" href="manual.css">
<TITLE>Galax Manual: XQuery 1.0 Conformance</TITLE>
</HEAD>
<BODY >
<A HREF="tutorial.html"><IMG SRC="previous_motif.gif" ALT="Previous"></A>
<A HREF="index.html"><IMG SRC="contents_motif.gif" ALT="Up"></A>
<A HREF="commandline.html"><IMG SRC="next_motif.gif" ALT="Next"></A>
<HR>
<H1 CLASS="chapter"><A NAME="htoc27">Chapter 4</A>  XQuery 1.0 Conformance</H1><P>
<A NAME="sec:alignment"></A>
</P><P>
This chapter documents the relationship of Galax to the target W3C
working drafts. Galax 1.0 is a prototype implementation, and
therefore it is not (yet) completely aligned with the relevant W3C
working drafts (WDs). This chapter also document the non-standard
features in Galax 1.0 and the known bugs and limitations.</P><P>Galax 1.0 implements the January, 2007 XQuery 1.0 and XPath
2.0 Candidate Recommendations, the XML 1.0 Recommendation, the
Namespaces in XML Recommendation, and XML Schema Recommendation (Parts
1 and 2).</P><P>Galax 1.0 implements the XQuery 1.0 Recommendations:
</P><UL CLASS="itemize"><LI CLASS="li-itemize">
XQuery 1.0 and XPath 2.0 Data Model.
W3C Recommendation January, 2007.
(<A HREF="http://www.w3.org/TR/xpath-datamodel/"><TT>http://www.w3.org/TR/xpath-datamodel/</TT></A>).
</LI><LI CLASS="li-itemize">XQuery 1.0 : An XML Query Language.
W3C Recommendation January, 2007.
(<A HREF="http://www.w3.org/TR/xquery/"><TT>http://www.w3.org/TR/xquery/</TT></A>).
</LI><LI CLASS="li-itemize">XQuery 1.0 and XPath 2.0 Formal Semantics.
W3C Recommendation January, 2007.
(<A HREF="http://www.w3.org/TR/xquery-semantics/"><TT>http://www.w3.org/TR/xquery-semantics/</TT></A>).
</LI><LI CLASS="li-itemize">XQuery 1.0 and XPath 2.0 Functions and Operators.
W3C Recommendation January, 2007.
(<A HREF="http://www.w3.org/TR/xpath-functions/"><TT>http://www.w3.org/TR/xpath-functions/</TT></A>).
</LI><LI CLASS="li-itemize">XML Query Use Cases.
W3C Working Draft 23 March 2007.
(<A HREF="http://www.w3.org/TR/2007/NOTE-xquery-use-cases-20070323/"><TT>http://www.w3.org/TR/2007/NOTE-xquery-use-cases-20070323/</TT></A>).
</LI><LI CLASS="li-itemize">XML Schema Part 1: Structures and Part 2: Datatypes.
W3C Recommendation 2 May 2001.
<A HREF="http://www.w3.org/TR/xmlschema-1/"><TT>http://www.w3.org/TR/xmlschema-1/</TT></A>,
<A HREF="http://www.w3.org/TR/xmlschema-2/"><TT>http://www.w3.org/TR/xmlschema-2/</TT></A>.
</LI></UL><H2 CLASS="section"><A NAME="toc14"></A><A NAME="htoc28">4.1</A>  Data Model</H2><P>Galax 1.0 fully supports the XQuery 1.0 and XPath 2.0 Data Model.</P><P>Galax 1.0 implements an xsd:float value as an xsd:double value.</P><H2 CLASS="section"><A NAME="toc15"></A><A NAME="htoc29">4.2</A>  XQuery</H2><P>The alignment issues in this section follow the outline of the
"Expressions" section in <A HREF="http://www.w3c.org/TR/xquery"><TT>http://www.w3c.org/TR/xquery</TT></A>. If a
subsection is not listed here, it means that Galax 1.0 implements
the semantics described in that section.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#static_context">XQuery Section 2.1.1 Static Context</A></H3><P>Galax 1.0 does not support:
</P><UL CLASS="itemize"><LI CLASS="li-itemize">
<B>XPath 1.0 compatibility modes</B>.
</LI><LI CLASS="li-itemize"><B>Collations</B>.
</LI><LI CLASS="li-itemize">The <B>construction mode</B>. Type annotations on copied
elements are always erased/eliminated. 
</LI><LI CLASS="li-itemize">The <B>ordering mode</B>. Input order is always preserved. 
</LI></UL><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#dynamic_context">XQuery Section 2.1.2 Dynamic Context</A></H3><P>
The <B>implicit timezone</B> is set to the local timezone. </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-processing-model">XQuery Section 2.2 Processing Model</A></H3><P>Galax&#X2019;s processing model is similar to XQuery&#X2019;s abstract processing
model. See Section <A HREF="developers.html#sec:developers">7</A> for more information on
Galax&#X2019;s internal processing model. </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-serialization">XQuery Section 2.2.4 Serialization</A></H3><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-ebv">XQuery Section 2.3.3 Effective Boolean Value</A></H3><P>Galax 1.0 does not check that a numeric value is equal to NaN
when computing an effective boolean value.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-input-sources">XQuery Section 2.3.4 Input Sources</A></H3><P>Galax 1.0 does not support the <TT>fn:collection()</TT> function.</P><P>The context item and values for external variables can be specified
on the command line or in the API. See
Sections <A HREF="commandline.html#sec:inputoptions">5.1.1</A> and <A HREF="api.html#sec:quickstart">6.2</A>.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-sequencetype-matching">XQuery Section 2.4.4 SequenceType Matching</A></H3><P>Galax requires that all actual types, that is, those types that annotate
input documents be in the in-scope schema definitions. Galax
will raise a dynamic error if it encounters a type in a document that
is not imported into the query by an <B>import schema</B> prolog statement.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-optional-features">XQuery Section 2.6 Optional Features</A></H3><P>Galax supports the <B>Schema Import</B>, <B>Static Typing</B>, and
<B>Full Axis</B> features. </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-module-feature">XQuery Section 2.6.4 Module Feature</A></H3><P>Galax 1.0 supports the Module feature.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-pragmas">XQuery Section 2.6.5 Pragmas</A></H3><P>Galax 1.0 does not support the <B>Pragmas</B> feature.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-must-understand">XQuery Section 2.6.6 Must-Understand Extensions</A></H3><P>Galax 1.0 does not support must-understand extensions.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-static-extensions">XQuery Section 2.6.7 Static Typing Extensions</A></H3><P>Galax 1.0 does not support static typing extensions.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-literals">XQuery Section 3.1.1 Literals</A></H3><P>Galax 1.0 implements an xsd:float value as an xsd:double value.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#axes">XQuery Section 3.2.1.1 Axes</A></H3><P>Galax 1.0 supports all axes with the exception of the
<B>preceding</B> and <B>following</B> axes.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-constructors">XQuery Section 3.7 Constructors</A></H3><P>When constructing a new element, Galax 1.0always
erases/eliminates type annotations on copied elements. </P><P>When constructing a new element, Galax 1.0requires that 
the new element&#X2019;s attributes precede its other content. </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-ns-nodes-on-elements">XQuery Section 3.7.4 In-scope Namespaces of a Constructed Element</A></H3><P>Namespace declarations in input and output documents and in input
queries are not handled consistently. 
We are working on
this.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-unordered-expressions">XQuery 
Section 3.9 Ordered and Unordered Expressions</A></H3><P>Galax 1.0 will accept queries that contain the <B><TT>ordered</TT></B> or
<B><TT>unordered</TT></B> expressions, but they have no effect on query
evaluation (i.e., they are no-ops). </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-module-declaration">XQuery Section 4.2 Module Declaration</A></H3><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-module-imports">XQuery Section 4.2 Module Import</A></H3><P>Galax 1.0 supports the Module feature.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-default-collation-declaration">XQuery
Section 4.4 Default Collation Declaration</A></H3><P>Galax 1.0 does not support collations.</P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-construction-declaration">XQuery
Section 4.6 Construction Declaration</A></H3><P>Galax 1.0 does not support the construction declaration. </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-default-ordering-decl">XQuery
Section 4.8 Default Ordering Declaration</A></H3><P>Galax 1.0 does not support the default ordering declaration. </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xquery#id-schema-imports">XQuery
Section 4.9 Schema Import</A></H3><P>Schema components in an imported schema are mapped into XQuery 
types according to the mapping rules specified in the XQuery 1.0
Formal Semantics (see below).</P><H2 CLASS="section"><A NAME="toc16"></A><A NAME="htoc30">4.3</A>  XQuery 1.0 Formal Semantics</H2><P>The XQuery 1.0 formal semantics defines the mapping of every XQuery
expression into an expression in the XQuery core, and it defines the
static and dynamic semantics of each core expression. The formal
semantics also defines how imported schemas are mapped into internal
XQuery types.</P><P>Galax 1.0 implements the static and dynamic semantics of core
expressions defined in the XQuery 1.0 Formal Semantics. </P><H2 CLASS="section"><A NAME="toc17"></A><A NAME="htoc31">4.4</A>  Functions and Operators</H2><P>Galax 1.0 supports most of the functions in the XQuery 1.0 and
XPath 2.0 Functions and Operators document. The signatures of
supported functions are listed in <B><TT>$</TT></B><B><TT>GALAXLIB</TT></B><B><TT>/pervasive.xq</TT></B>.</P><P>Galax 1.0 does not support the following functions: 
</P><PRE CLASS="verbatim">  fn:id
  fn:idref
  fn:collection
</PRE><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xpath-functions#func-trace">Functions and Operators Section 4 The Trace Function</A></H3><P>The <B><TT>fn:trace</TT></B> function emits its input sequence and message are to standard output. </P><H3 CLASS="subsection"><A HREF="http://www.w3c.org/TR/xpath-functions#constructor-functions-for-user-defined-types">Functions
and Operators Section 5.2 Constructor Functions for User-Defined Types</A></H3><P>
Galax 1.0does not support constructor functions for user-defined
types. </P><H3 CLASS="subsection">Functions and Operators Section 12 Functions and Operators on base64Binary and hexBinary</H3><P>Galax 1.0 does not support any functions on binary data.</P><H2 CLASS="section"><A NAME="toc18"></A><A NAME="htoc32">4.5</A>  Use Cases</H2><P>See <B><TT>$</TT></B><B><TT>GALAXHOME</TT></B><B><TT>/usecases/STATUS</TT></B></P><H2 CLASS="section"><A NAME="toc19"></A><A NAME="htoc33">4.6</A>  Galax 1.0 extensions</H2><H3 CLASS="subsection"><A NAME="htoc34">4.6.1</A>  Defining XQuery Types in the Query Prolog</H3><P>Type values are available in a query by either importing a
predefined XML schema using the <B><TT>import schema</TT></B> declaration in the
query prolog or by defining XQuery types explicitly in the query prolog.</P><P>Galax 1.0 supports the definition of XQuery types in the query
prolog using the internal type syntax defined in the XQuery 1.0
Formal Semantics. The grammar is provided here for reference:</P><PRE CLASS="verbatim">    TypeDeclaration ::=    ("define" "element" QName "{" TypeDefn? "}")
                        |  ("define" "attribute" QName "{" TypeDefn? "}")
                        |  ("define" "type" QName "{" TypeDefn? "}")

    TypeDefn        ::=    TypeUnion 
                        |  TypeBoth 
                        |  TypeSequence 
                        |  TypeSimpleType 
                        |  TypeAttributeRef 
                        |  TypeElementRef 
                        |  TypeTypeRef 
                        |  TypeParenthesized 
                        |  TypeNone

    TypeUnion        ::= TypeDefn  "|"  TypeDefn
    TypeBoth         ::= TypeDefn  "&amp;"  TypeDefn
    TypeSequence     ::= TypeDefn  ","  TypeDefn
    TypeSimpleType   ::= QName OccurrenceIndicator
    TypeAttributeRef ::= "attribute" NameTest ("{" TypeDefn? "}")? OccurrenceIndicator
    TypeElementRef   ::= "element" NameTest ("{" TypeDefn? "}")? OccurrenceIndicator
    TypeTypeRef      ::= "type" NameTest OccurrenceIndicator
    TypeParenthesized::= "(" TypeDefn? ")" OccurrenceIndicator
    TypeNone         ::= "none"
</PRE><H3 CLASS="subsection"><A NAME="htoc35">4.6.2</A>  Galax specific functions</H3><P>Galax-only functions are put in the Galax namespace
(http://www.galaxquery.org), which is bound by default to the
glx: prefix.</P><P>See <B><TT>$GALAXHOME/lib/pervasive.xq</TT></B> for a complete list of functions
in the Galax namespace.</P><HR>
<A HREF="tutorial.html"><IMG SRC="previous_motif.gif" ALT="Previous"></A>
<A HREF="index.html"><IMG SRC="contents_motif.gif" ALT="Up"></A>
<A HREF="commandline.html"><IMG SRC="next_motif.gif" ALT="Next"></A>
</BODY>
</HTML>
